* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.15rem;
}

.header {
  width: 100%;
  position: relative;
  height: 100vh;
  overflow: hidden;

  video {
    width: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;
  }

  .overlay-container {
    width: 100%;
    height: 100%;
    background-color: rgb(2, 7, 36);
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .stats-data-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20rem;
    padding-top: 5rem;

    button {
      font-size: 2rem;
      font-weight: 700;
      color: white;
      background-color: transparent;
      padding: 2rem 2rem;
      border: 4px solid rgb(171, 103, 146);

      &:hover {
        border: 4px solid rgb(183, 227, 125);
        background-color: rgb(249, 241, 241);
        color: black;
        cursor: pointer;
      }
    }
  }
}


