* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.1rem;
}

/* ------------ Header Section -------------- */
.header {
  width: 100%;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header video {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -2;
  -o-object-fit: cover;
     object-fit: cover;
  margin-inline: auto;
}
.header .overlay-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: rgb(2, 7, 36);
  opacity: 0.8;
}
.header .header-container {
  width: min(95%, 90rem);
  margin-inline: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .header-container .stats-data-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  height: 50%;
  width: 100%;
}
@media (max-width: 48rem) {
  .header .header-container .stats-data-buttons {
    flex-direction: column;
  }
}
.header .header-container .stats-data-buttons button {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  padding: 2rem 2rem;
  border: 4px solid rgb(171, 103, 146);
  transition: background-color 0.2s;
}
.header .header-container .stats-data-buttons button:hover {
  border: 4px solid rgb(183, 227, 125);
  background-color: rgb(249, 241, 241);
  color: black;
  cursor: pointer;
}
@media (max-width: 48rem) {
  .header .header-container .stats-data-buttons button {
    font-size: 1.5rem;
    padding: 1.5rem 1.5rem;
  }
}
@media (max-width: 26.25rem) {
  .header .header-container .stats-data-buttons button {
    font-size: 1rem;
    padding: 1rem 1rem;
  }
}

/* ------------ Info Cards Section -------------- */
.info-cards-player-form-section {
  margin: 3rem 0;
  width: 100%;
}
.info-cards-player-form-section .info-cards-container {
  width: min(95%, 90rem);
  margin-inline: auto;
}
@media (max-width: 26.25rem) {
  .info-cards-player-form-section .info-cards-container {
    width: 60%;
    margin-inline: auto;
  }
}
.info-cards-player-form-section .info-cards-container .teams-table {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 5rem;
  width: 100%;
}
.info-cards-player-form-section .info-cards-container .teams-table .nfc {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
@media (max-width: 48rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .nfc {
    grid-template-columns: 100%;
    row-gap: 2rem;
  }
}
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-logo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-logo img {
  width: 100%;
}
@media (max-width: 48rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-logo img {
    width: 70%;
  }
}
@media (max-width: 26.25rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-logo img {
    width: 100%;
  }
}
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-logo h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
}
@media (max-width: 90rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-logo h2 {
    font-size: 2rem;
  }
}
@media (max-width: 26.25rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-logo h2 {
    font-size: 3rem;
  }
}
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, 1fr);
  row-gap: 1rem;
}
@media (max-width: 26.25rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions {
    row-gap: 3rem;
  }
}
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-north,
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-south,
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-east,
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-west {
  display: grid;
  grid-template-columns: 20% 2fr 2fr 2fr 2fr;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
@media (max-width: 48rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-north,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-south,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-east,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-west {
    grid-template-columns: 15% 2fr 2fr 2fr 2fr;
    -moz-column-gap: 0.2rem;
         column-gap: 0.2rem;
  }
}
@media (max-width: 26.25rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-north,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-south,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-east,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-west {
    grid-template-columns: 100%;
    grid-template-rows: 5rem 4rem 4rem 4rem 4rem;
  }
}
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-north h2,
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-south h2,
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-east h2,
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-west h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 90rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-north h2,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-south h2,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-east h2,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-west h2 {
    font-size: 2rem;
  }
}
@media (max-width: 64rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-north h2,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-south h2,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-east h2,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-west h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 48rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-north h2,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-south h2,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-east h2,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-west h2 {
    font-size: 1.1rem;
  }
}
@media (max-width: 26.25rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-north h2,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-south h2,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-east h2,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-west h2 {
    font-size: 1.8rem;
    border-bottom: 0.2rem solid #003069;
  }
}
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-north .team,
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-south .team,
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-east .team,
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-west .team {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.2s;
}
@media (max-width: 26.25rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-north .team,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-south .team,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-east .team,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-west .team {
    border-bottom: 0.01rem solid rgb(242, 237, 237);
  }
}
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-north .team:hover,
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-south .team:hover,
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-east .team:hover,
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-west .team:hover {
  cursor: pointer;
  background-color: rgb(242, 237, 237);
}
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-north .team img,
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-south .team img,
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-east .team img,
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-west .team img {
  width: 95%;
}
@media (max-width: 26.25rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-north .team img,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-south .team img,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-east .team img,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-west .team img {
    width: 50%;
  }
}
.info-cards-player-form-section .info-cards-container .teams-table .afc {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
@media (max-width: 48rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .afc {
    grid-template-columns: 100%;
    row-gap: 2rem;
  }
}
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-logo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-logo img {
  width: 100%;
}
@media (max-width: 48rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-logo img {
    width: 70%;
  }
}
@media (max-width: 26.25rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-logo img {
    width: 100%;
  }
}
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-logo h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
}
@media (max-width: 90rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-logo h2 {
    font-size: 2rem;
  }
}
@media (max-width: 26.25rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-logo h2 {
    font-size: 3rem;
  }
}
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, 1fr);
  row-gap: 1rem;
}
@media (max-width: 26.25rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions {
    row-gap: 3rem;
  }
}
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-north,
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-south,
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-east,
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-west {
  display: grid;
  grid-template-columns: 20% 2fr 2fr 2fr 2fr;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
@media (max-width: 48rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-north,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-south,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-east,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-west {
    grid-template-columns: 15% 2fr 2fr 2fr 2fr;
    -moz-column-gap: 0.2rem;
         column-gap: 0.2rem;
  }
}
@media (max-width: 26.25rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-north,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-south,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-east,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-west {
    grid-template-columns: 100%;
    grid-template-rows: 5rem 4rem 4rem 4rem 4rem;
  }
}
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-north h2,
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-south h2,
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-east h2,
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-west h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 90rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-north h2,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-south h2,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-east h2,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-west h2 {
    font-size: 2rem;
  }
}
@media (max-width: 64rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-north h2,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-south h2,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-east h2,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-west h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 48rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-north h2,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-south h2,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-east h2,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-west h2 {
    font-size: 1.1rem;
  }
}
@media (max-width: 26.25rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-north h2,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-south h2,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-east h2,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-west h2 {
    font-size: 1.8rem;
    border-bottom: 0.2rem solid #d60303;
  }
}
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-north .team,
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-south .team,
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-east .team,
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-west .team {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.2s;
}
@media (max-width: 26.25rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-north .team,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-south .team,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-east .team,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-west .team {
    border-bottom: 0.01rem solid rgb(242, 237, 237);
  }
}
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-north .team:hover,
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-south .team:hover,
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-east .team:hover,
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-west .team:hover {
  cursor: pointer;
  background-color: rgb(242, 237, 237);
}
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-north .team img,
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-south .team img,
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-east .team img,
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-west .team img {
  width: 95%;
}
@media (max-width: 26.25rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-north .team img,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-south .team img,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-east .team img,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-west .team img {
    width: 50%;
  }
}
.info-cards-player-form-section .player-form-list-container {
  width: min(95%, 90rem);
  margin-inline: auto;
}

/* Hidden Class */
.hidden {
  display: none;
}/*# sourceMappingURL=landing-page.css.map */