@font-face {
  font-family: AdidasFont;
  src: url(../AdihausDIN.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: AdidasFont, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.01rem;
}

/* ------------ Header Section -------------- */
.header {
  width: 100%;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header video {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -2;
  -o-object-fit: cover;
     object-fit: cover;
  margin-inline: auto;
}
.header .overlay-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: rgb(189, 192, 209);
  opacity: 0.7;
}
.header .header-container {
  width: min(95%, 90rem);
  margin-inline: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .header-container .stats-data-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  height: 50%;
  width: 100%;
}
@media (max-width: 48rem) {
  .header .header-container .stats-data-buttons {
    flex-direction: column;
  }
}
.header .header-container .stats-data-buttons button {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  background-color: white;
  padding: 2rem 2rem;
  border: 4px solid black;
  transition: border 0.3s, color 0.3s;
}
.header .header-container .stats-data-buttons button:hover, .header .header-container .stats-data-buttons button:focus {
  border: 4px solid rgb(171, 103, 146);
  background-image: linear-gradient(to right, #003069, #d60303);
  color: white;
  cursor: pointer;
}
@media (max-width: 48rem) {
  .header .header-container .stats-data-buttons button {
    font-size: 1.5rem;
    padding: 1.5rem 1.5rem;
  }
}
@media (max-width: 26.25rem) {
  .header .header-container .stats-data-buttons button {
    font-size: 1rem;
    padding: 1rem 1rem;
  }
}

/* ------------ Info Cards Section -------------- */
.info-cards-player-form-section {
  margin: 3rem 0;
  width: 100%;
}
.info-cards-player-form-section .info-cards-container {
  width: min(95%, 90rem);
  margin-inline: auto;
}
@media (max-width: 26.25rem) {
  .info-cards-player-form-section .info-cards-container {
    width: 60%;
    margin-inline: auto;
  }
}
.info-cards-player-form-section .info-cards-container .instruction {
  width: 100%;
  font-size: 1rem;
  text-align: center;
  border-top: 2px solid #d60303;
  border-bottom: 2px solid #003069;
  padding: 0.5rem 0rem;
  margin-bottom: 3rem;
}
@media (max-width: 26.25rem) {
  .info-cards-player-form-section .info-cards-container .instruction {
    font-size: 0.8rem;
  }
}
.info-cards-player-form-section .info-cards-container .teams-table {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 0.05rem auto;
  justify-items: center;
  row-gap: 5rem;
  width: 100%;
}
.info-cards-player-form-section .info-cards-container .teams-table .nfc {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
@media (max-width: 48rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .nfc {
    grid-template-columns: 100%;
    row-gap: 2rem;
  }
}
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-logo img {
  width: 100%;
}
@media (max-width: 48rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-logo img {
    width: 70%;
  }
}
@media (max-width: 26.25rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-logo img {
    width: 100%;
  }
}
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-logo h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
}
@media (max-width: 90rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-logo h2 {
    font-size: 2rem;
  }
}
@media (max-width: 26.25rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-logo h2 {
    display: none;
  }
}
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, 1fr);
  row-gap: 1rem;
}
@media (max-width: 26.25rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions {
    row-gap: 3rem;
  }
}
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-north,
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-south,
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-east,
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-west {
  display: grid;
  grid-template-columns: 20% 2fr 2fr 2fr 2fr;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
@media (max-width: 48rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-north,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-south,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-east,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-west {
    grid-template-columns: 15% 2fr 2fr 2fr 2fr;
    -moz-column-gap: 0.2rem;
         column-gap: 0.2rem;
  }
}
@media (max-width: 26.25rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-north,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-south,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-east,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-west {
    grid-template-columns: 100%;
    grid-template-rows: 5rem 4rem 4rem 4rem 4rem;
  }
}
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-north h2,
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-south h2,
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-east h2,
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-west h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 90rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-north h2,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-south h2,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-east h2,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-west h2 {
    font-size: 2rem;
  }
}
@media (max-width: 64rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-north h2,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-south h2,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-east h2,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-west h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 48rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-north h2,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-south h2,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-east h2,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-west h2 {
    font-size: 1.1rem;
  }
}
@media (max-width: 26.25rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-north h2,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-south h2,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-east h2,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-west h2 {
    font-size: 1.8rem;
    border-bottom: 0.2rem solid #003069;
  }
}
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-north .team,
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-south .team,
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-east .team,
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-west .team {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.2s;
}
@media (max-width: 26.25rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-north .team,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-south .team,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-east .team,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-west .team {
    border-bottom: 0.01rem solid rgb(242, 237, 237);
  }
}
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-north .team:hover,
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-south .team:hover,
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-east .team:hover,
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-west .team:hover {
  cursor: pointer;
  background-color: rgb(242, 237, 237);
}
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-north .team img,
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-south .team img,
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-east .team img,
.info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-west .team img {
  width: 95%;
}
@media (max-width: 26.25rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-north .team img,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-south .team img,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-east .team img,
  .info-cards-player-form-section .info-cards-container .teams-table .nfc .nfc-divisions .nfc-west .team img {
    width: 50%;
  }
}
.info-cards-player-form-section .info-cards-container .teams-table .table-divider {
  background-color: black;
  width: 100%;
}
@media (max-width: 26.25rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .table-divider {
    width: 160%;
  }
}
.info-cards-player-form-section .info-cards-container .teams-table .afc {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
@media (max-width: 48rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .afc {
    grid-template-columns: 100%;
    row-gap: 2rem;
  }
}
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-logo img {
  width: 100%;
}
@media (max-width: 48rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-logo img {
    width: 70%;
  }
}
@media (max-width: 26.25rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-logo img {
    width: 100%;
  }
}
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-logo h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
}
@media (max-width: 90rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-logo h2 {
    font-size: 2rem;
  }
}
@media (max-width: 26.25rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-logo h2 {
    display: none;
  }
}
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, 1fr);
  row-gap: 1rem;
}
@media (max-width: 26.25rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions {
    row-gap: 3rem;
  }
}
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-north,
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-south,
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-east,
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-west {
  display: grid;
  grid-template-columns: 20% 2fr 2fr 2fr 2fr;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
@media (max-width: 48rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-north,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-south,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-east,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-west {
    grid-template-columns: 15% 2fr 2fr 2fr 2fr;
    -moz-column-gap: 0.2rem;
         column-gap: 0.2rem;
  }
}
@media (max-width: 26.25rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-north,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-south,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-east,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-west {
    grid-template-columns: 100%;
    grid-template-rows: 5rem 4rem 4rem 4rem 4rem;
  }
}
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-north h2,
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-south h2,
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-east h2,
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-west h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 90rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-north h2,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-south h2,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-east h2,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-west h2 {
    font-size: 2rem;
  }
}
@media (max-width: 64rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-north h2,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-south h2,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-east h2,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-west h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 48rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-north h2,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-south h2,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-east h2,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-west h2 {
    font-size: 1.1rem;
  }
}
@media (max-width: 26.25rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-north h2,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-south h2,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-east h2,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-west h2 {
    font-size: 1.8rem;
    border-bottom: 0.2rem solid #d60303;
  }
}
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-north .team,
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-south .team,
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-east .team,
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-west .team {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.2s;
}
@media (max-width: 26.25rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-north .team,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-south .team,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-east .team,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-west .team {
    border-bottom: 0.01rem solid rgb(242, 237, 237);
  }
}
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-north .team:hover,
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-south .team:hover,
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-east .team:hover,
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-west .team:hover {
  cursor: pointer;
  background-color: rgb(242, 237, 237);
}
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-north .team img,
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-south .team img,
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-east .team img,
.info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-west .team img {
  width: 95%;
}
@media (max-width: 26.25rem) {
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-north .team img,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-south .team img,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-east .team img,
  .info-cards-player-form-section .info-cards-container .teams-table .afc .afc-divisions .afc-west .team img {
    width: 50%;
  }
}
.info-cards-player-form-section .player-search-container {
  width: min(95%, 90rem);
  margin-inline: auto;
  padding: 10rem 0rem;
}
.info-cards-player-form-section .player-search-container form {
  width: 100%;
  margin-bottom: 3rem;
}
.info-cards-player-form-section .player-search-container form label {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
@media (max-width: 26.25rem) {
  .info-cards-player-form-section .player-search-container form label {
    font-size: 1rem;
    margin-bottom: 0.25rem;
  }
}
.info-cards-player-form-section .player-search-container form div {
  width: 100%;
  display: flex;
  align-items: center;
}
@media (max-width: 48rem) {
  .info-cards-player-form-section .player-search-container form div {
    flex-direction: column;
  }
}
.info-cards-player-form-section .player-search-container form div #player-search {
  width: 70%;
  height: 4rem;
  background-color: transparent;
  border: 2px solid black;
  font-size: 1.5rem;
  outline: none;
  border-radius: 0;
}
@media (max-width: 48rem) {
  .info-cards-player-form-section .player-search-container form div #player-search {
    width: 100%;
    margin-bottom: 1rem;
  }
}
@media (max-width: 26.25rem) {
  .info-cards-player-form-section .player-search-container form div #player-search {
    height: 3rem;
    margin-bottom: 0.5rem;
  }
}
.info-cards-player-form-section .player-search-container form div #player-search:focus {
  outline: none;
  border: 2px solid rgb(171, 103, 146);
}
.info-cards-player-form-section .player-search-container form div #player-search-btn {
  width: 15rem;
  height: 4rem;
  color: #000;
  margin-left: 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-color: white;
  border: 2px solid black;
  transition: color 0.3s, border 0.3s;
}
@media (max-width: 48rem) {
  .info-cards-player-form-section .player-search-container form div #player-search-btn {
    width: 100%;
    margin-left: 0rem;
  }
}
@media (max-width: 26.25rem) {
  .info-cards-player-form-section .player-search-container form div #player-search-btn {
    height: 3rem;
    font-size: 1rem;
  }
}
.info-cards-player-form-section .player-search-container form div #player-search-btn:hover, .info-cards-player-form-section .player-search-container form div #player-search-btn:focus {
  cursor: pointer;
  color: white;
  background-image: linear-gradient(to right, #003069, #d60303);
  border: 2px solid rgb(171, 103, 146);
}

.player-search-results {
  width: 100%;
}

.player-search-results h3 {
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  font-weight: 700;
}
@media (max-width: 26.25rem) {
  .player-search-results h3 {
    font-size: 1.28rem;
  }
}
.player-search-results p {
  font-size: 1rem;
}
@media (max-width: 26.25rem) {
  .player-search-results p {
    font-size: 0.9rem;
  }
}

/* ------------ Player List Section -------------- */
.player-list {
  width: 100%;
  background-color: #f3f3f3;
}

.player-list-container {
  width: 100%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: white;
  border: 1px solid #b9c1ba;
}
@media (max-width: 64rem) {
  .player-list-container {
    grid-template-columns: 19.2rem 1fr;
  }
}
@media (max-width: 26.25rem) {
  .player-list-container {
    grid-template-columns: 100%;
  }
}

.photo-name-container {
  overflow-x: auto;
  border-right: 1px solid #b9c1ba;
}
.photo-name-container table {
  width: 100%;
  border-spacing: 0;
  text-align: left;
}
.photo-name-container th,
.photo-name-container td {
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid #b9c1ba;
}
.photo-name-container th,
.photo-name-container tr,
.photo-name-container td {
  width: 100%;
}
.photo-name-container .heading {
  height: 4rem;
  font-size: 1.3rem;
}
.photo-name-container .row {
  height: 8rem;
  font-size: 1rem;
}
.photo-name-container a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}
.photo-name-container img {
  margin-right: 1.5rem;
}

.other-player-info-container {
  overflow-x: auto;
}
@media (max-width: 26.25rem) {
  .other-player-info-container {
    display: none;
  }
}
.other-player-info-container table {
  width: max(100%, 51.2rem);
  border-spacing: 0;
  text-align: left;
}
.other-player-info-container th,
.other-player-info-container td {
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid #b9c1ba;
  display: flex;
  align-items: center;
}
.other-player-info-container tr {
  display: grid;
  grid-template-columns: repeat(7, 14.2857142857%);
}
.other-player-info-container tbody:nth-child(even) {
  background-color: #f3f3f3;
}
.other-player-info-container .heading {
  height: 4rem;
  font-size: 1.3rem;
}
.other-player-info-container .row {
  height: 8rem;
  font-size: 1rem;
}

/* Hidden Class */
.hidden {
  display: none;
}/*# sourceMappingURL=landing-page.css.map */