$screen-xl: 90rem; // 1440px
$screen-l: 64rem; // 1024px
$screen-m: 48rem; // 768px
$screen-s: 26.25rem; // 420px
$nfc-color: #003069;
$afc-color: #d60303;

@font-face {
  font-family: AdidasFont;
  src: url(../AdihausDIN.ttf);
}

@mixin respond-xl {
  @media (max-width: $screen-xl) {
    @content;
  }
}

@mixin respond-l {
  @media (max-width: $screen-l) {
    @content;
  }
}

@mixin respond-m {
  @media (max-width: $screen-m) {
    @content;
  }
}

@mixin respond-s {
  @media (max-width: $screen-s) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: AdidasFont, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.01rem;
}

/* -------- Main section -------- */

main {
  width: 100%;

  
}

/* -------- Error section -------- */

/* -------- Hidden Class -------- */

.hidden {
  display: none;
}
