$screen-xl: 90rem; // 1440px
$screen-l: 64rem; // 1024px
$screen-m: 48rem; // 768px
$screen-s: 26.25rem; // 420px
$nfc-color: #003069;
$afc-color: #d60303;
$header-background-color: #f3f3f3;
$player-roster-border: #b9c1ba;

@font-face {
  font-family: AdidasFont;
  src: url(../AdihausDIN.ttf);
}

@mixin respond-xl {
  @media (max-width: $screen-xl) {
    @content;
  }
}

@mixin respond-l {
  @media (max-width: $screen-l) {
    @content;
  }
}

@mixin respond-m {
  @media (max-width: $screen-m) {
    @content;
  }
}

@mixin respond-s {
  @media (max-width: $screen-s) {
    @content;
  }
}

@mixin respond-any($size) {
  @media (max-width: $size) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: AdidasFont, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.01rem;
}

body {
  width: 100%;
}

/* -------- Main section -------- */

main {
  width: 100%;
}

/* -------- Header section -------- */

header {
  height: auto;
  width: 100%;
  padding: 5rem 0rem;
  position: relative;
  border-bottom: 2px solid black;

  @include respond-m() {
    padding-bottom: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .header-container {
    width: min(90%, $screen-xl);
    margin-inline: auto;
    padding-right: 10rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond-m() {
      text-align: center;
      margin-bottom: 1.5rem;
      flex-direction: column;
      padding-right: 0rem;
    }

    .name-conference-division {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      @include respond-m() {
        align-items: center;
      }

      h1 {
        font-size: 3rem;
      }
    }

    .team-logo {
      background-color: transparent;
      width: 10rem;
      height: 10rem;
      display: flex;
      align-items: center;
      justify-content: center;

      @include respond-m() {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
      }

      @include respond-s() {
        width: 8rem;
      }

      img {
        width: 100%;
      }
    }
  }

  .header-color {
    position: absolute;
    z-index: -3;
    left: 0;
    top: 0;
    background-color: $header-background-color;
    width: 100%;
    height: 100%;
  }

  .secondary-color {
    position: absolute;
    z-index: -2;
    left: 50%;
    top: 0;
    width: 50%;
    height: 100%;

    @include respond-m() {
      position: static;
      transform: none;
      width: 100%;
      height: 1rem;
    }
  }

  .primary-color {
    position: absolute;
    z-index: -1;
    left: 60%;
    top: 0;
    width: 40%;
    height: 100%;

    @include respond-m() {
      position: static;
      transform: none;
      width: 100%;
      height: 1rem;
    }
  }
}

/* -------- Nav Links Buttons section -------- */
.nav-links {
  width: 100%;
  padding: 2rem 0;
}

.nav-links-container {
  width: min(90%, $screen-m);
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include respond-s() {
    flex-direction: column;
  }

  button {
    width: 50%;
    border: 1px solid blue;
    border-radius: 0px;
    text-transform: uppercase;
    text-align: center;
    background-color: white;
    font-size: 0.8rem;
    padding: 0.8rem 0.5rem;
    transition: background-color 0.2s, color 0.1s;

    &:hover,
    &:focus {
      background-color: blue;
      color: white;
      cursor: pointer;
    }

    @include respond-s() {
      width: 100%;
    }
  }
}

/* -------- Team Info section -------- */

.team-info {
  width: 100%;
  padding: 2rem 0;
  background-color: $header-background-color;
}

.team-info-container {
  width: min(90%, $screen-xl);
  margin-inline: auto;
}

.cards-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem 0;

  h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    width: 100%;

    @include respond-s() {
      margin-bottom: 1rem;
    }
  }

  .stadium {
    width: 70%;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include respond-m() {
      width: 90%;
    }

    img {
      width: 100%;
    }
  }

  .cards-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    column-gap: 1.5rem;

    @include respond-m() {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond-s() {
      grid-template-columns: 1fr;
    }

    .card {
      h3 {
        text-transform: uppercase;
        margin-bottom: 0.5rem;
        font-size: 1.17rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }
}

/* -------- Team Roster section -------- */

.team-roster {
  width: 100%;
  padding: 2rem 0rem;
  background-color: #f3f3f3;
}

.team-roster-container {
  width: min(90%, $screen-xl);
  margin-inline: auto;
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: white;
  border: 1px solid $player-roster-border;

  @include respond-l() {
    grid-template-columns: calc($screen-l * 0.3) 1fr;
  }

  @include respond-s() {
    grid-template-columns: 100%;
  }
}

.photo-name-container {
  overflow-x: auto;
  border-right: 1px solid $player-roster-border;
  table {
    width: 100%;
    border-spacing: 0;
    text-align: left;
  }

  th,
  td {
    padding: 0.5rem 0.5rem;
    border-bottom: 1px solid $player-roster-border;
  }

  th,
  tr,
  td {
    width: 100%;
  }

  .heading {
    height: 4rem;
    font-size: 1.3rem;
  }

  .row {
    height: 8rem;
    font-size: 1rem;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
  }

  img {
    margin-right: 1.5rem;
  }
}

.other-player-info-container {
  overflow-x: auto;

  @include respond-s() {
    display: none;
  }

  table {
    width: max(100%, calc($screen-l * 0.8));
    border-spacing: 0;
    text-align: left;
  }

  th,
  td {
    padding: 0.5rem 0.5rem;
    border-bottom: 1px solid $player-roster-border;
    display: flex;
    align-items: center;
  }

  tr {
    display: grid;
    grid-template-columns: repeat(7, calc(100% / 7));

    &:nth-child(even) {
      background-color: $header-background-color;
    }
  }

  .heading {
    height: 4rem;
    font-size: 1.3rem;
  }

  .row {
    height: 8rem;
    font-size: 1rem;
  }
}

/* -------- Error section -------- */

/* -------- Hidden Class -------- */

.hidden {
  display: none;
}
